<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
    .app {
        height: auto;
        width: 600px;
        margin: auto;
        text-align: center;
        padding-top: 30px;
    }
    .list {
        margin: auto;
        width: 300px;
        margin-top: 30px;
    }
    .del {
        display: none;
        border: none;
    }
    .showDel:hover button {
        display: block;
    }
</style>

<body>
    <div id="app" class="app">
        <form class="form-inline" @submit.prevent>
            <input type="text" v-model="toDo" placeholder="请输入待办事项..." class="form-control" @keyup.enter="add();"/>
            <button @click="add();" class="btn btn-info" type="button">Add To List</button>
        </form>

        <table class="list table table-hover">
            <tr v-for="(th,index) in things">
                <td style="width: 280px;text-align: center">
                    {{ index+1 }}. {{ th }}
                </td>
                <td style="width: 20px;text-align: center;" class="showDel">
                    <button @click="del(index);" class="del btn btn-default btn-xs" type="button">
                        x
                    </button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            toDo:"",
            things:[],
        },
        methods: {
            add:function() {
                if(this.toDo.trim() != "") {
                    this.things.push(this.toDo.trim());
                    this.toDo = "";
                }else {
                    alert("请检查输入!");
                }
            },
            del:function(index) {
                this.things.splice(index, 1);
            },
        }
    });
</script>